.App {
  text-align: center;
}

.createTopic {
  border-color: white;
  border-top: 1px;
  border-style: solid;
  border-spacing: 10px;
  padding: 20px;
  width: 430px;
}

.topicTable {
  color: white;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
